.container {
    display: grid;
    height: 100vh;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
   grid-template-areas: 
   "navbar navbar navbar"
   "banner banner banner"
   "emojis emojis emojis"
   "letter letter letter"
   "quotes verse verse"
   "past_prayers past_prayers past_prayers"
   "footer footer footer";
   background-color: #F7F5EF;
   color: #333333;

}

.navbar{
    grid-area: navbar;
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar img{
    width: 60px;
    height: auto;
    margin-right: 20px;
}

.navbar a{
    text-decoration: none;
    color: #556B44;
    padding: 10px;
}

.banner{
    grid-area: banner;
    width: 100%;
}

.banner img{
    width: 100%;
    height: auto;
    display: block;
}

.emojis{
    grid-area: emojis;
}

.letter{
    grid-area: letter;
}

.quotes{
    grid-area: quotes;
}

.verse{
    grid-area: verse;
}

.past_prayers{
    grid-area: past_prayers;
}

.footer{
    grid-area: footer;
}